<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
              <h5 class="fw-bolder">Get the FreshCart app</h5>
              <p class="fw-bolder">We will send you a link, open it on your phone to download the app.</p>
              <form class="form-inline">
                <div class="form-group mb-2">
                  <input type="email" class="form-control" id="email" placeholder="Email ..">
                </div>
                <button type="submit" class="btn bg-main text-white fw-bolder mb-2">Share App Link</button>
              </form>
            </div>
            <div class="col-md-6 ms-auto text-md-right">
              <div class="payment-partners mb-2">
                <h5 >Payment Partners</h5>
                <a href="#"><img height="50" src="assets/amazonPay.png" alt="Amazon Pay"></a>
                <a href="#"><img height="50" src="assets/MasterCard_Logo.svg.png" alt="MasterCard"></a>
                <a href="#"><img height="50" src="assets/PayPal.svg.png" alt="PayPal"></a>
              </div>
              <div class="app-store">
                <h5>Get deliveries with FreshCart</h5>
                <a href="#"><img height="50" src="assets/itunes-app-store-logo.png" alt="App Store"></a>
                <a href="#"><img height="50" src="assets/google-play-badge.png" alt="Play Store"></a>
              </div>
            </div>
          </div>
    </div>
</footer>